<p-menubar>
  <ng-template #start>
    <a href="javascript://" class="nav-link nav-icon-text">
      <i class="pi pi-user"></i>
      <span class="nav-text">{{ remult.user?.name }}</span>
    </a>
  </ng-template>
  <ng-template #end>
    <a href="javascript://" class="nav-link nav-icon-text">
      <i class="pi pi-globe"></i>
    </a>
    <ul>
      <li><a (click)="changeLanguage('en')">EN</a></li>
      <li><a (click)="changeLanguage('de')">DE</a></li>
    </ul>
    <a href="javascript://" class="nav-link nav-icon-text">
      <i class="pi pi-cog"></i>
    </a>
    <ul>
      <li><a href="/about">Über</a></li>
      <li><a href="/settings/number-ranges">Nummernkreise</a></li>
      <li><a href="" (click)="logout()">Ausloggen</a></li>
    </ul>
  </ng-template>
</p-menubar>
