<p-table [tableStyle]="{ 'min-width': '20rem' }">
  <ng-template pTemplate="body">
    <tr>
      <th>
        {{ "address" | translate }} <br /><small>{{
          address.addressType
        }}</small>
      </th>
      <td>
        {{ entity.displayName }}
        <p-button
          icon="pi pi-copy"
          (click)="copy()"
          [text]="true"
          [pTooltip]="'copyToClipboard' | translate"
        >
        </p-button>
        <br *ngIf="address.street" />{{ address.street }}
        <br *ngIf="address.zip || address.city" />{{ address.zip }}
        {{ address.city }} <br *ngIf="address.country" />{{ address.country }}
      </td>
    </tr>
  </ng-template>
</p-table>
