<form #form="ngForm" class="invoice-item-form">
  <app-autofield
    [field]="fields.name"
    [(entity)]="item"
    [showLabel]="false"
  ></app-autofield>

  <app-autofield
    [field]="fields.quantity"
    [(entity)]="item"
    [showLabel]="false"
  ></app-autofield>

  <app-autofield
    [field]="fields.amountType!"
    [(entity)]="item"
    [showLabel]="false"
  ></app-autofield>

  <app-autofield
    [field]="fields.price"
    [(entity)]="item"
    [showLabel]="false"
  ></app-autofield>

  <app-autofield
    [field]="fields.vat"
    [(entity)]="item"
    [showLabel]="false"
  ></app-autofield>

  <app-autofield
    [field]="fields.discount"
    [(entity)]="item"
    [showLabel]="false"
  ></app-autofield>

  <app-autofield
    [field]="fields.discountType!"
    [(entity)]="item"
    [showLabel]="false"
  ></app-autofield>

  <div>
    {{ item.total | currency : "EUR" }}
  </div>

  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-times"
    class="p-button-text p-button-danger p-button-sm"
    (click)="parent.deleteRelationItem('items', item)"
  ></button>
</form>
