<ng-container *ngIf="entity">
  <div class="flex justify-between align-items-center mb-3">
    <h1>{{ "company" | translate }}: {{ entity.displayName }}</h1>

    <div class="flex gap-2">
      <p-button
        [routerLink]="['/crm/overview']"
        icon="pi pi-list"
        class="whitespace-nowrap"
        [label]="'overview' | translate"
        severity="secondary"
      ></p-button>
      <p-button
        (click)="confirmDelete()"
        icon="pi pi-trash"
        class="whitespace-nowrap"
        [label]="'deleteCustomer' | translate"
        severity="danger"
      ></p-button>
      <p-button
        [routerLink]="['./edit']"
        icon="pi pi-pencil"
        class="whitespace-nowrap"
        [label]="'editCustomer' | translate"
      ></p-button>
    </div>
  </div>

  <div class="card">
    <p-table [value]="[entity]" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="body" let-entity>
        <tr *ngIf="featureFlags.companyView.showCompanyName">
          <th>{{ "company" | translate }}</th>
          <td>{{ entity.name }}</td>
        </tr>
        <tr *ngIf="featureFlags.companyView.showCustomerNumber">
          <th>{{ "customerNumber" | translate }}</th>
          <td>{{ entity.customerNumber }}</td>
        </tr>
        <tr *ngIf="featureFlags.companyView.showCreatedAt">
          <th>{{ "createdAt" | translate }}</th>
          <td>{{ entity.createdAt | date : "short" }} Uhr</td>
        </tr>
      </ng-template>
    </p-table>

    <ng-container *ngIf="featureFlags.companyView.showAddresses">
      <app-address-view
        *ngFor="let address of entity.addresses"
        [address]="address"
        [entity]="entity"
      ></app-address-view>
    </ng-container>
  </div>

  <p-dialog
    [(visible)]="showConfirmDeleteModal"
    [header]="'deleteCustomer' | translate"
    [modal]="true"
    [style]="{ width: '450px' }"
  >
    <div class="flex flex-column gap-3">
      <p
        [innerHTML]="
          'confirmDeleteCompany' | translate : { entity: entity.name }
        "
      ></p>
    </div>
    <ng-template pTemplate="footer">
      <p-button
        (click)="showConfirmDeleteModal = false"
        [label]="'no' | translate"
        severity="secondary"
        styleClass="p-button-text"
      ></p-button>
      <p-button
        (click)="delete()"
        [label]="'yes' | translate"
        severity="danger"
      ></p-button>
    </ng-template>
  </p-dialog>
</ng-container>
