<div *ngIf="entity" class="card-container">
  <p-card [header]="entity.numberRangeType">
    <form #form="ngForm">
      <app-autofield
        [field]="fields.nextSequenceValue"
        [(entity)]="entity"
      ></app-autofield>

      <app-autofield
        [field]="fields.format"
        [(entity)]="entity"
        [helperText]="helperText()"
      ></app-autofield>

      <div>
        <label>{{ "preview" | translate }}</label>
        <input
          pInputText
          type="text"
          value="{{ renderPreview() }}"
          style="width: 100%"
          disabled
        />
      </div>
    </form>
    <ng-template pTemplate="footer">
      <div class="flex gap-2">
        <p-button
          (click)="reset()"
          icon="pi pi-undo"
          [label]="'discardChanges' | translate"
          severity="secondary"
        ></p-button>
        <p-button
          (click)="save()"
          [disabled]="!form?.form?.dirty || !form?.form?.valid"
          icon="pi pi-save"
          severity="success"
          [label]="'saveChanges' | translate"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
