<ng-container *ngIf="entity">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>{{ "invoice" | translate }} {{ entity.displayName }}</h1>

    <div style="display: flex; gap: 10px;">
      <button
        pButton
        type="button"
        label="{{ 'overview' | translate }}"
        icon="pi pi-list"
        class="p-button-outlined"
        [routerLink]="['/om/invoice']"
      ></button>
      <button
        pButton
        type="button"
        label="{{ 'deleteInvoice' | translate }}"
        icon="pi pi-trash"
        class="p-button-outlined p-button-danger"
        (click)="confirmDelete()"
      ></button>
      <button
        pButton
        type="button"
        label="{{ 'editInvoice' | translate }}"
        icon="pi pi-pencil"
        class="p-button-primary"
        [routerLink]="['./edit']"
      ></button>
    </div>
  </div>

  <p-card>
    <pdf-viewer
      [src]="'/api/invoice/pdf?id=' + entity.id"
      [autoresize]="false"
      [fit-to-page]="true"
      style="height: 1200px"
    ></pdf-viewer>
  </p-card>

  <p-dialog
    header="{{ 'deleteInvoice' | translate }}"
    [(visible)]="showConfirmDeleteModal"
    [modal]="true"
    [closable]="false"
  >
    <div>
      <b>{{ "warning" | translate }}</b>
      <p>
        {{
          "confirmDeleteInvoice"
            | translate : { displayName: entity.displayName }
        }}
      </p>
    </div>
    <div class="p-dialog-footer">
      <button
        pButton
        type="button"
        label="{{ 'no' | translate }}"
        class="p-button-outlined"
        (click)="showConfirmDeleteModal = false"
      ></button>
      <button
        pButton
        type="button"
        label="{{ 'yes' | translate }}"
        class="p-button-danger"
        (click)="delete()"
      ></button>
    </div>
  </p-dialog>
</ng-container>
