<ng-container *ngIf="entity">
  <div class="flex justify-between align-items-center mb-3">
    <h1>{{ "invoice" | translate }}: {{ entity.displayName }}</h1>

    <div class="flex gap-2">
      <p-button
        class="whitespace-nowrap"
        [routerLink]="['/om/invoice']"
        icon="pi pi-list"
        [label]="'overview' | translate"
        severity="secondary"
      ></p-button>
      <p-button
        class="whitespace-nowrap"
        (click)="confirmDelete()"
        icon="pi pi-trash"
        [label]="'deleteInvoice' | translate"
        severity="danger"
      ></p-button>
      <p-button
        class="whitespace-nowrap"
        [routerLink]="['./edit']"
        icon="pi pi-pencil"
        [label]="'editInvoice' | translate"
      ></p-button>
    </div>
  </div>

  <p-card>
    <pdf-viewer
      [src]="'/api/invoice/pdf?id=' + entity.id"
      [autoresize]="false"
      [fit-to-page]="true"
      style="height: 1200px"
    ></pdf-viewer>
  </p-card>

  <p-dialog
    header="{{ 'deleteInvoice' | translate }}"
    [(visible)]="showConfirmDeleteModal"
    [modal]="true"
    [closable]="false"
  >
    <div>
      <b>{{ "warning" | translate }}</b>
      <p>
        {{
          "confirmDeleteInvoice"
            | translate : { displayName: entity.displayName }
        }}
      </p>
    </div>
    <div class="p-dialog-footer">
      <button
        pButton
        type="button"
        label="{{ 'no' | translate }}"
        class="p-button-outlined"
        (click)="showConfirmDeleteModal = false"
      ></button>
      <button
        pButton
        type="button"
        label="{{ 'yes' | translate }}"
        class="p-button-danger"
        (click)="delete()"
      ></button>
    </div>
  </p-dialog>
</ng-container>
