<ng-container *ngIf="entity">
  <div class="flex justify-between align-items-center mb-3">
    <h1>{{ "editPerson" | translate }}</h1>
    <div class="flex gap-2">
      <p-button
        [routerLink]="
          entity.id ? ['/crm/person', entity.id.toString()] : ['/crm/overview']
        "
        icon="pi pi-undo"
        label="{{ 'discardChanges' | translate }}"
        severity="secondary"
      ></p-button>
      <p-button
        (click)="saveChanges()"
        [disabled]="form?.form?.invalid"
        icon="pi pi-save"
        label="{{ 'saveChanges' | translate }}"
        severity="success"
      ></p-button>
    </div>
  </div>

  <main>
    <form #form="ngForm" class="formgrid grid">
      <p-card>
        <h3>{{ "personData" | translate }}</h3>
        <div class="grid">
          <ng-container *ngIf="featureFlags.showSalutation">
            <app-autofield
              [field]="fields.salutation!"
              [(entity)]="entity"
              [label]="'salutation' | translate"
            ></app-autofield>
          </ng-container>
          <ng-container *ngIf="featureFlags.showFirstname">
            <app-autofield
              [field]="fields.firstname"
              [(entity)]="entity"
              [label]="'firstname' | translate"
            ></app-autofield>
          </ng-container>
          <ng-container *ngIf="featureFlags.showLastname">
            <app-autofield
              [field]="fields.lastname"
              [(entity)]="entity"
              [label]="'lastname' | translate"
            ></app-autofield>
          </ng-container>
          <ng-container *ngIf="featureFlags.showCustomerNumber">
            <app-autofield
              [field]="fields.customerNumber"
              width="400px"
              [(entity)]="entity"
              [placeholder]="previewCustomerNumber"
              [label]="'customerNumber' | translate"
            ></app-autofield>
          </ng-container>
          <ng-container *ngIf="featureFlags.showBirthdate">
            <app-autofield
              [field]="fields.birthdate"
              [(entity)]="entity"
              [label]="'birthdate' | translate"
            ></app-autofield>
          </ng-container>
        </div>
      </p-card>

      <div class="mt-4">
        <p-tabView>
          <p-tabPanel
            *ngIf="featureFlags.showAddresses"
            header="{{ 'address' | translate }}"
          >
            <ng-container *ngFor="let address of entity.addresses">
              <app-address-edit
                [address]="address"
                [parent]="instance"
              ></app-address-edit>
            </ng-container>
            <p-button
              (click)="createRelationItem('addresses')"
              icon="pi pi-plus"
              label="Adresse hinzufügen"
              styleClass="mt-3"
              severity="secondary"
            ></p-button>
          </p-tabPanel>
          <p-tabPanel
            *ngIf="featureFlags.showContactDetails"
            header="{{ 'contactDetails' | translate }}"
          >
            <p>TODO</p>
          </p-tabPanel>
          <p-tabPanel
            *ngIf="featureFlags.showPaymentInformation"
            header="{{ 'paymentInformation' | translate }}"
          >
            <p>TODO</p>
          </p-tabPanel>
          <p-tabPanel
            *ngIf="featureFlags.showConditions"
            header="{{ 'conditions' | translate }}"
          >
            <p>TODO</p>
          </p-tabPanel>
          <p-tabPanel
            *ngIf="featureFlags.showAdditional"
            header="{{ 'additional' | translate }}"
          >
            <p>TODO</p>
          </p-tabPanel>
        </p-tabView>
      </div>
    </form>
  </main>
</ng-container>
