<div class="mb-5 w-100 flex justify-end">
  <p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
  <button
    pButton
    type="button"
    (click)="menu.toggle($event)"
    icon="pi pi-plus"
    label="{{ 'addCustomer' | translate }}"
    [raised]="true"
  ></button>
</div>

<p-card [header]="'customerOverview' | translate">
  <p-table
    [value]="customers"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowHover]="true"
    (onRowSelect)="openCustomer($event.data)"
    selectionMode="single"
  >
    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="featureFlags.showIdColumn" style="width: 50px">
          {{ "id" | translate }}
        </th>
        <th *ngIf="featureFlags.showTypeColumn" style="width: 120px">
          {{ "type" | translate }}
        </th>
        <th *ngIf="featureFlags.showNameColumn">{{ "name" | translate }}</th>
        <th *ngIf="featureFlags.showCreatedAtColumn" style="width: 200px">
          {{ "createdAt" | translate }}
        </th>
        <th *ngIf="featureFlags.showUpdatedAtColumn" style="width: 200px">
          {{ "updatedAt" | translate }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr [pSelectableRow]="customer">
        <td *ngIf="featureFlags.showIdColumn">
          <i
            [class]="
              customer.customerType === 'Person'
                ? 'pi pi-user'
                : 'pi pi-building'
            "
            [pTooltip]="customer.id"
            (click)="copyCustomerId(customer.id); $event.stopPropagation()"
          >
          </i>
        </td>
        <td *ngIf="featureFlags.showTypeColumn">
          {{ customer.customerType.toLowerCase() | translate }}
        </td>
        <td *ngIf="featureFlags.showNameColumn">{{ customer.displayName }}</td>
        <td *ngIf="featureFlags.showCreatedAtColumn">
          {{ customer.createdAt | date : "short" }} Uhr
        </td>
        <td *ngIf="featureFlags.showUpdatedAtColumn">
          {{ customer.updatedAt | date : "short" }} Uhr
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="5">
          {{ customers.length }} {{ "customers" | translate }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
