<div class="mb-5 w-100 flex justify-end">
  <p-button
    [label]="'createInvoice' | translate"
    icon="pi pi-plus"
    class="whitespace-nowrap"
    [raised]="true"
    [routerLink]="['/om/invoice', 'new', 'edit']"
  >
  </p-button>
</div>

<p-card [header]="'invoiceOverview' | translate">
  <p-table
    [value]="invoices"
    [rowHover]="true"
    (onRowSelect)="openInvoice($event.data)"
    selectionMode="single"
    [sortField]="'createdAt'"
    [sortOrder]="sortOrder"
  >
    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="featureFlags.showIdColumn" style="width: 20px">
          {{ "id" | translate }}
        </th>
        <th *ngIf="featureFlags.showIdColumn" style="width: 200px">
          {{ "invoiceNumber" | translate }}
        </th>
        <th *ngIf="featureFlags.showIdColumn" style="width: 200px">
          {{ "subject" | translate }}
        </th>
        <th *ngIf="featureFlags.showIdColumn" style="width: 200px">
          {{ "amount" | translate }}
        </th>
        <th *ngIf="featureFlags.showCreatedAtColumn" style="width: 200px">
          {{ "createdAt" | translate }}
        </th>
        <th *ngIf="featureFlags.showUpdatedAtColumn" style="width: 200px">
          {{ "updatedAt" | translate }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-invoice>
      <tr [pSelectableRow]="invoice">
        <td *ngIf="featureFlags.showIdColumn" style="width: 20px">
          <i
            class="pi pi-list"
            pTooltip="{{ invoice.id }}"
            tooltipPosition="top"
            (click)="copyInvoiceId(invoice.id)"
          ></i>
        </td>
        <td>{{ invoice.invoiceNumber }}</td>
        <td>{{ invoice.subject }}</td>
        <td>{{ invoice.grossTotal | currency : "€" }}</td>
        <td *ngIf="featureFlags.showCreatedAtColumn">
          {{ invoice.createdAt | date : "short" }} Uhr
        </td>
        <td *ngIf="featureFlags.showUpdatedAtColumn">
          {{ invoice.updatedAt | date : "short" }} Uhr
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="6">{{ invoices.length }} {{ "invoices" | translate }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
