<p-iftalabel class="mb-4" [ngStyle]="{ width: width }">
  <div class="flex flex-col gap-1">
    <p-checkbox
      *ngIf="field.inputType === 'checkbox'"
      binary="true"
      pSize="large"
      [(ngModel)]="entity[field.key]"
      [name]="field.key"
      [inputId]="field.key"
      [attr.aria-describedby]="helperText ? field.key + '-help' : undefined"
    ></p-checkbox>

    <input
      *ngIf="field.inputType === undefined"
      pInputText
      pSize="large"
      [(ngModel)]="entity[field.key]"
      [name]="field.key"
      [placeholder]="placeholder"
      (blur)="onBlur($event)"
      [id]="field.key"
      [attr.aria-describedby]="helperText ? field.key + '-help' : undefined"
    />

    <textarea
      *ngIf="field.inputType === 'multiline'"
      pTextarea
      pSize="large"
      [(ngModel)]="entity[field.key]"
      [name]="field.key"
      [rows]="rows"
      [placeholder]="placeholder"
      (blur)="onBlur($event)"
      [id]="field.key"
      [attr.aria-describedby]="helperText ? field.key + '-help' : undefined"
    ></textarea>

    <p-inputNumber
      *ngIf="field.inputType === 'number'"
      pSize="large"
      [(ngModel)]="entity[field.key]"
      [name]="field.key"
      [placeholder]="placeholder"
      (blur)="onBlur($event)"
      [inputId]="field.key"
      [attr.aria-describedby]="helperText ? field.key + '-help' : undefined"
    ></p-inputNumber>

    <p-select
      *ngIf="field.inputType === 'select-literal'"
      pSize="large"
      [(ngModel)]="entity[field.key]"
      [name]="field.key"
      [options]="getOptionValues(field.key)"
      (blur)="onBlur($event)"
      [inputId]="field.key"
      styleClass="w-full"
      [attr.aria-describedby]="helperText ? field.key + '-help' : undefined"
    />

    <p-calendar
      *ngIf="field.inputType === 'date'"
      pSize="large"
      [(ngModel)]="entity[field.key]"
      [name]="field.key"
      (blur)="onBlur($event)"
      [inputId]="field.key"
      [attr.aria-describedby]="helperText ? field.key + '-help' : undefined"
    ></p-calendar>

    <p-message
      *ngIf="form.form.get(field.key)?.errors"
      severity="error"
      text="{{ form.form.get(field.key)?.errors }}"
      variant="simple"
      size="small"
    ></p-message>

    <small
      *ngIf="helperText"
      [id]="field.key + '-help'"
      [innerHTML]="helperText"
    ></small>

    <label [for]="field.key">{{ label || field.caption }}</label>
  </div>
</p-iftalabel>
