<ng-container *ngIf="entity">
  <div class="flex justify-between align-items-center mb-3">
    <h1>{{ "person" | translate }}: {{ entity.displayName }}</h1>

    <div class="flex gap-2">
      <p-button
        [routerLink]="['/crm/overview']"
        icon="pi pi-list"
        class="whitespace-nowrap"
        [label]="'overview' | translate"
        severity="secondary"
      ></p-button>
      <p-button
        (click)="confirmDelete()"
        icon="pi pi-trash"
        class="whitespace-nowrap"
        [label]="'deleteCustomer' | translate"
        severity="danger"
      ></p-button>
      <p-button
        [routerLink]="['./edit']"
        icon="pi pi-pencil"
        class="whitespace-nowrap"
        [label]="'editCustomer' | translate"
      ></p-button>
    </div>
  </div>

  <div class="card">
    <p-table [value]="[entity]" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="body" let-item>
        <tr *ngIf="featureFlags.personView.showPerson">
          <th>{{ "person" | translate }}</th>
          <td>
            {{ item.salutation }} {{ item.firstname }} {{ item.lastname }}
          </td>
        </tr>
        <tr *ngIf="featureFlags.personView.showCustomerNumber">
          <th>{{ "customerNumber" | translate }}</th>
          <td>{{ item.customerNumber }}</td>
        </tr>
        <tr *ngIf="featureFlags.personView.showCreatedAt">
          <th>{{ "createdAt" | translate }}</th>
          <td>{{ item.createdAt | date : "medium" }}</td>
        </tr>
        <tr *ngIf="featureFlags.personView.showBirthdate">
          <th>{{ "birthdate" | translate }}</th>
          <td>{{ item.birthdate | date : "mediumDate" }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <ng-container *ngIf="featureFlags.personView.showAddresses">
    <app-address-view
      *ngFor="let address of entity.addresses"
      [address]="address"
      [entity]="entity"
    ></app-address-view>
  </ng-container>

  <p-dialog
    [(visible)]="showConfirmDeleteModal"
    [header]="'deleteCustomer' | translate"
    [modal]="true"
    [style]="{ width: '450px' }"
  >
    <div class="flex flex-column gap-3">
      <p
        [innerHTML]="
          'confirmDeletePerson'
            | translate
              : { firstname: entity.firstname, lastname: entity.lastname }
        "
      ></p>
    </div>
    <ng-template pTemplate="footer">
      <p-button
        (click)="showConfirmDeleteModal = false"
        [label]="'no' | translate"
        severity="secondary"
        styleClass="p-button-text"
      ></p-button>
      <p-button
        (click)="delete()"
        [label]="'yes' | translate"
        severity="danger"
      ></p-button>
    </ng-template>
  </p-dialog>
</ng-container>
