<ng-container *ngIf="entity">
  <div class="flex justify-between align-items-center mb-3">
    <h1>{{ (entity.id ? "editCompany" : "createCompany") | translate }}</h1>

    <div class="flex gap-2">
      <p-button
        [routerLink]="
          entity.id ? ['/crm/company', entity.id.toString()] : ['/crm/overview']
        "
        icon="pi pi-undo"
        class="whitespace-nowrap"
        [label]="(entity.id ? 'discardChanges' : 'cancel') | translate"
        severity="secondary"
      ></p-button>
      <p-button
        (click)="saveChanges()"
        [disabled]="form?.form?.invalid || hasInvalidForms()"
        icon="pi pi-save"
        class="whitespace-nowrap"
        [label]="(entity.id ? 'saveChanges' : 'createCompany') | translate"
        severity="success"
      ></p-button>
    </div>
  </div>

  <div class="card">
    <form #form="ngForm" class="formgrid grid">
      <h3>{{ "companyData" | translate }}</h3>
      <app-autofield
        *ngIf="featureFlags.companyEdit.showNameField"
        [field]="fields.name"
        class="field col-12 md:col-6"
        [(entity)]="entity"
        [label]="'company' | translate"
      ></app-autofield>
      <app-autofield
        *ngIf="featureFlags.companyEdit.showCustomerNumberField"
        [field]="fields.customerNumber"
        class="field col-12 md:col-6"
        [(entity)]="entity"
        [placeholder]="previewCustomerNumber"
        [label]="'customerNumber' | translate"
      ></app-autofield>
    </form>

    <div class="mt-4">
      <p-tabView>
        <p-tabPanel
          *ngIf="featureFlags.companyEdit.showAddresses"
          [header]="'address' | translate"
        >
          <app-address-edit
            *ngFor="let address of entity.addresses"
            [address]="address"
            [parent]="instance"
          ></app-address-edit>
          <p-button
            (click)="createRelationItem('addresses')"
            icon="pi pi-plus"
            [label]="'addAddress' | translate"
            styleClass="mt-3"
            severity="secondary"
          ></p-button>
        </p-tabPanel>
        <p-tabPanel
          *ngIf="featureFlags.companyEdit.showContactDetails"
          [header]="'contactDetails' | translate"
        >
          <p>TODO</p>
        </p-tabPanel>
        <p-tabPanel
          *ngIf="featureFlags.companyEdit.showPaymentInformation"
          [header]="'paymentInformation' | translate"
        >
          <p>TODO</p>
        </p-tabPanel>
        <p-tabPanel
          *ngIf="featureFlags.companyEdit.showConditions"
          [header]="'conditions' | translate"
        >
          <p>TODO</p>
        </p-tabPanel>
        <p-tabPanel
          *ngIf="featureFlags.companyEdit.showAdditional"
          [header]="'additional' | translate"
        >
          <p>TODO</p>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</ng-container>
